* {
  box-sizing: border-box;
}

/*Base Style ==================*/
body {
  font-family: 'Catamaran', monospace, sans-serif;
}

::placeholder {
  text-align: right;
  font-style: italic;
}

fieldset > * {
  margin-bottom: 10px;
}

legend {
  font-size: 1.2em;
}

label {
  margin-bottom: 15px;
}

input,select {
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 20px 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuc-3-2Sc1yOpOh_52SqV-NiiU0RrLDniaXn9C2qAvY1MejOMr) 100% / 5% no-repeat;
}

/*layout Styles ==============*/
.container {
  width: 95%;
  margin: 0 auto;
}

.intro, footer {
  text-align: center;
}

/*flexbox ====================*/
form {
  display: flex;
  flex-direction: column;
}


/*Try styles {ASDFGHJKL} ======*/

.try {
  background: yellow;
  height: 200px;
}

.contact_info {
  /*background: lightgrey;*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

fieldset > * {
  width: 100%;
}

/*media queries ===============*/
@media (min-width: 768px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }

  .contact_info label {
    width: 20%;
  }

  .contact_info input,
  .contact_info select{
    width: 80%;
  }


}
